*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Kumbh sans", sans-serif;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}
.main{
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: -90% -500px, 170% 340px;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    border: 2px;
    border-radius: 15px;
}
.upper-section{
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.personal-image{
    height: 100px;
    width: 100px;
    margin: -50px auto -30px auto;
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 100%);
}
.personal-image img{
    display: block;
    width: 100%;
    height: auto;
}
.card-body{
    margin-top: 54px;
    margin-bottom: -75px;
    height: 250px;
    line-height: 1.5;
    font-weight: 700;
}
.name{
font-size: 1.4rem;
}
.age, .city{
font-size: 1.1rem;
color:  hsl(0, 0%, 59%);
}
 .info {
    display:block;
    font-weight: 300;
    font-size: .9rem;
    color: hsl(0, 0%, 59%);
    letter-spacing: .1rem;
}
.active {
    padding-top: 22px;
    padding-right: 40px;
    padding-left: 40px;
    border-top: 1px solid hsl(0, 10%, 88%);
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
